*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  --bg-color: black;

  background-color: var(--bg-color);
  margin: 0;
  min-height: 100dvh;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  --tile-size: 4rem;
  --subtile-size: calc(var(--tile-size) * 0.25);

  --bg-color: blue;
  --first-color: green;
  --second-color: yellow;
  --third-color: pink;
  --fourth-color: purple;

  --orientation: 0;

  position: relative;
  background-color: var(--bg-color);
  height: var(--tile-size);
  width: var(--tile-size);
  transform: rotate(var(--orientation));
  overflow: hidden;
}

.tile::before,
.tile::after {
  position: absolute;
  content: "";
}

.middle-circle::before,
.middle-circle::after {
  inset: var(--subtile-size);
}

.middle-circle::before {
  border-left: var(--subtile-size) solid var(--first-color);
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
}

.middle-circle::after {
  border-right: var(--subtile-size) solid var(--second-color);
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
}

.outside-circle::before,
.outside-circle::after {
  inset: 0;
}

.outside-circle::before {
  right: 50%;
  border-right: calc(var(--tile-size) * 0.5) solid var(--third-color);
  border-bottom-right-radius: calc(var(--tile-size) * 0.5);
  border-top-right-radius: calc(var(--tile-size) * 0.5);
}

.outside-circle::after {
  left: 50%;
  border-left: calc(var(--tile-size) * 0.5) solid var(--fourth-color);
  border-bottom-left-radius: calc(var(--tile-size) * 0.5);
  border-top-left-radius: calc(var(--tile-size) * 0.5);
}

.corner-circle::before {
  top: 50%;
  right: 50%;
  bottom: 0;
  left: 0;
  border-right: calc(var(--tile-size) * 0.5) solid var(--first-color);
  border-top-right-radius: calc(var(--tile-size) * 0.5);
}

.corner-circle::after {
  top: 0;
  right: 0;
  bottom: 50%;
  left: 50%;
  border-left: calc(var(--tile-size) * 0.5) solid var(--second-color);
  border-bottom-left-radius: calc(var(--tile-size) * 0.5);
}

.triangle::before {
  inset: 0;
  border-top: calc(var(--tile-size) * 0.5) solid var(--first-color);
  border-bottom: calc(var(--tile-size) * 0.5) solid var(--second-color);
  border-left: calc(var(--tile-size) * 0.5) solid var(--third-color);
  border-right: calc(var(--tile-size) * 0.5) solid var(--fourth-color);
}

.square::before {
  top: 0;
  right: 50%;
  bottom: 50%;
  left: 0;
  background-color: var(--first-color);
}

.square::after {
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  background-color: var(--second-color);
}
