*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  --bg-color: black;

  background-color: var(--bg-color);
  margin: 0;
  min-height: 100dvh;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  --tile-size: 5rem;
  --subtile-size: calc(var(--tile-size) * 0.25);

  --bg-color: blue;
  --first-color: green;
  --second-color: yellow;
  --third-color: pink;
  --fourth-color: purple;

  --orientation: 0;

  position: relative;
  background-color: var(--bg-color);
  width: var(--tile-size);
  aspect-ratio: 1/1;
  transform: rotate(var(--orientation));
}

.middle-circle::before,
.middle-circle::after {
  position: absolute;
  content: "";
  inset: var(--subtile-size);
}

.middle-circle::before {
  border-left: var(--subtile-size) solid var(--first-color);
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
}

.middle-circle::after {
  border-right: var(--subtile-size) solid var(--second-color);
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
}

.outside-circle::before,
.outside-circle::after {
  position: absolute;
  content: "";
  inset: 0;
}

.outside-circle::before {
  right: 50%;
  border-right: calc(var(--tile-size) * 0.5) solid var(--third-color);
  border-bottom-right-radius: calc(var(--tile-size) * 0.5);
  border-top-right-radius: calc(var(--tile-size) * 0.5);
}

.outside-circle::after {
  left: 50%;
  border-left: calc(var(--tile-size) * 0.5) solid var(--fourth-color);
  border-bottom-left-radius: calc(var(--tile-size) * 0.5);
  border-top-left-radius: calc(var(--tile-size) * 0.5);
}
