*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  /* sizes */
  --tile-size: 10rem;
  --middle-circle-ratio: 0.25;

  /* colors */
  --tile-color: blue;
  --middle-circle-left-color: green;
  --middle-circle-right-color: yellow;
  --outside-circle-left-color: pink;
  --outside-circle-right-color: magenta;

  /* orientation */
  --orientation: 0;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  position: relative;
  background-color: var(--tile-color);
  width: var(--tile-size);
  aspect-ratio: 1/1;
  transform: rotate(var(--orientation));
}

.middle-circle::before,
.middle-circle::after {
  position: absolute;
  content: "";
  inset: calc(100% * var(--middle-circle-ratio));
}

.middle-circle::before {
  border-left: calc(var(--tile-size) * var(--middle-circle-ratio)) solid var(--middle-circle-left-color);
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
}

.middle-circle::after {
  border-right: calc(var(--tile-size) * var(--middle-circle-ratio)) solid var(--middle-circle-right-color);
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
}

.outside-circle::before,
.outside-circle::after {
  position: absolute;
  content: "";
  inset: 0;
}

.outside-circle::before {
  right: 50%;
  border-right: calc(var(--tile-size) * 0.5) solid var(--outside-circle-left-color);
  border-bottom-right-radius: calc(var(--tile-size) * 0.5);
  border-top-right-radius: calc(var(--tile-size) * 0.5);
}

.outside-circle::after {
  left: 50%;
  border-left: calc(var(--tile-size) * 0.5) solid var(--outside-circle-right-color);
  border-bottom-left-radius: calc(var(--tile-size) * 0.5);
  border-top-left-radius: calc(var(--tile-size) * 0.5);
}
